<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cari Jumlah Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<style>
    .formDiagnosis{
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;

    }

    .jumlah {
        width: 80rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .formJumlah{
        width: 80rem;
        padding-top: 1rem;
    }


</style>


<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
<div class="formJumlah mx-auto">
    <h4 style="justify-content: center; margin-top: 60px">Masukan Diagnosis</h4>
    <div class="form">
        <form th:action="@{/pasien/cari/lakilaki-perempuan}">
            <div class="formDiagnosis mx-auto">
                <select class="form-control" th:name="idDiagnosis" style="width: 20rem; padding-right: 0.5rem">
                    <option th:each="diagnosis: ${listDiagnosis}" th:text="${diagnosis.nama}" th:value="${diagnosis.id}" selected></option>
                </select>
                <button type="submit" class="btn btn-primary">Cari Pasien</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>